#calculator-container{
    height: 500px;
    width: 300px;
    margin: auto;
    margin-top: 10vh;
    border: 1px solid black;
    /* background-color: #EAEAEA; */
    box-shadow: 0 8px gray;
    border-radius: 16px;

    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#display-box{
    height: 100px;;
    width: 100%;
    font-size: x-large;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* border-bottom-left-radius: 16px;
    border-top-right-radius: 16px; */

}
#controls{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
#operators{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.digits{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
button {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    

}
button:hover{
    background-color:skyblue;
}
.control-button{
    background-color: lightgray;
}